* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
}

:root{
    --product-gap: 20px;
    --product-row-count: 4;
}

::selection {
    background: #e82a2a;
    color: #ffffff !important;
}

.container {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}

/* Sidebar */
.fixed-sidebar {
    position: fixed;
    right: 0;
    top: 25%;
    background-color: white;
    text-align: center;
    padding: 5px;
    z-index: 10;
}

.tooltip{
    position: relative;
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.tooltip-text{
    visibility: hidden;
    transform: scale(0);
    transition: 200ms;
    position: absolute;
    top: 15%;
    right: 120%;
    padding: 5px 10px;
    display: inline-block;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
    transform: scale(1);
}

.tooltip-text::after{
    content: "";
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0; 
    left: 0;
}

.fixed-sidebar i{
    padding: 10px;
}

/* Header */
.header {
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 20px;
}

.header-logo img {
    width: 150px;
    cursor: pointer;
}

.header-button button {
    background-color: #82b440;
    box-shadow: 0 2px 0 #6f9a37;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
}

.header-button button:hover {
    background-color: #7aa93c;
}

.header2 {
    background-color: rgb(24, 24, 24);
    color: white;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
}

.sub-header ul {
    display: flex;
    gap: 20px;
}

nav {
    background-color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-links .links {
    display: flex;
    justify-content: center;
}

.nav-links .links > li{
    padding: 25px 20px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(63, 63, 63);
}

.nav-links .links > li:nth-of-type(1){
    color: rgb(150, 150, 150);
}

.nav-links .links a{
    cursor: pointer;
    color: rgb(63, 63, 63);
}

.nav-logo svg {
    width: 30px;
}

.nav-icons i {
    padding: 10px;
    font-size: 16px;
}

nav .dropdown-btn{
    position: relative;
}

nav .dropdown-btn:hover .dropdown{
    visibility: visible;
    opacity: 1;
}

nav .dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
    top: 100%;
    left: 0;
    width: 280px;
    background-color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    line-height: 35px;
    color: rgb(117, 117, 117);
}

/* Part1 */
.heading {
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-image: url("https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2022/07/fabio-alves-HNaC2lbnK_0-unsplash.jpg");
}

.heading article {
    color: white;
    padding-top: 8%;
}

.heading article h5 {
    font-weight: 700;
}

.heading article h1 {
    font-size: 34px;
    font-weight: 600;
    margin: 30px 0;
}

.heading article button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px 40px;
    transition: 300ms;
}

.heading button:hover{
    background-color: white;
    color: black;
}

/* Part2 */
.product-container{
    padding: 30px 0;
}

.product-header{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.product-header div{
    display: flex;
    gap: 10px;
}

/* Sidebar */
.sidebar-products{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    padding: 30px 0;
}

.sidebar .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-dropdown {
    transition: 0.5s;
    max-height: 0;
    overflow: hidden;
}

.sidebar h4{
    padding: 20px 0;
    color: rgb(41, 41, 41)
}

.sidebar form li {
    margin: 15px 0;
    color: rgb(48, 48, 48);
    font-weight: 500;
}

input[type=checkbox]{
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 20px; 
    height: 20px; 
    border: 1px solid #aaa; 
    border-radius: 3px;
    background-color: #fff; 
}

input[type="checkbox"] + label::after {
    content: '\2714'; 
    font-size: 14px;
    color: black;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    display: none;
}

input[type="checkbox"]:checked + label:after {
    display: block;
}

.colors ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sidebar .colors li {
    margin: 6px 0;
}

.colors input[type="checkbox"] + label::before{
    border-radius: 50%;
    border: none;
}

.colors li:not(:nth-of-type(8)) input[type="checkbox"] + label::after {
    color: white;
}

.colors li:nth-of-type(1) input[type="checkbox"] + label::before{
    background-color: black;
}
.colors li:nth-of-type(2) input[type="checkbox"] + label::before{
    background-color: blue;
}
.colors li:nth-of-type(3) input[type="checkbox"] + label::before{
    background-color: green;
}
.colors li:nth-of-type(4) input[type="checkbox"] + label::before{
    background-color: grey;
}
.colors li:nth-of-type(5) input[type="checkbox"] + label::before{
    background-color: orange;
}
.colors li:nth-of-type(6) input[type="checkbox"] + label::before{
    background-color: pink;
}
.colors li:nth-of-type(7) input[type="checkbox"] + label::before{
    background-color: red;
}
.colors li:nth-of-type(8) input[type="checkbox"] + label::before{
    background-color: white;
    border: 0.5px solid grey;
}
.colors li:nth-of-type(9) input[type="checkbox"] + label::before{
    background-color: yellow;
}

/* Products */
.products{
    display: flex;
    flex-wrap: wrap;
    gap: var(--product-gap);
}

.product {
    width: calc(((100% / var(--product-row-count)) - var(--product-gap)) + (var(--product-gap) / var(--product-row-count)));
    position: relative;
}

.product-image img{
    width: 100%;
}

.product-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 20px;
    color: rgb(70, 70, 70);
}

.product-category:hover, .product-name:hover{
    color: red;
}

.product-category{
    font-size: 14px;
}

.product-name{
    font-weight: 600;
}

.product-brand-logo{
    width: 70%;
    margin: 0 auto;
}

.product-icons .icon-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.product-icons i {
    padding: 8px;
    font-size: 14px;
}

.product-icons .icon-box:nth-of-type(2){
    top: 50px;
}

/* Pagination */
.pagination{
    display: flex;
    justify-content: space-between;
}

.pagination .links a{
    padding: 10px;
}

/* Footer */
footer{
    background-color: rgb(20, 20, 20);
    color: rgb(235, 235, 235);
}

.footer-links{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 100px 0;
}

.signup{
    width: 20%;
}

.signup p{
    padding: 30px 0;
    line-height: 25px;
}

.signup form {
    position: relative;
    width: 250px;
}

.signup input {
    background-color: inherit;
    color: white;
    border: 1px solid rgb(44, 44, 44);
    width: 100%;
    padding: 10px;
}

.signup button{
    position: absolute;
    background-color: rgb(59, 59, 59);
    color: white;
    border: none;
    padding: 8px 20px;
    right: 3px;
    top: 3px;
    transition: 300ms;
}
.signup button:hover {
    background-color: rgb(29, 29, 29);
}

footer .links{
    display: flex;
    gap: 70px;
}

footer .links h4{
    margin-bottom: 40px;
}

footer li, footer i{
    padding: 5px 0;
    transition: 300ms;
}

footer li:hover, footer i:hover{
    color: red;
}

.last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.icons {
    display: flex;
    gap: 20px;
}